type project
owners
    Chris Anderson
authors 
    Chris Anderson
projectUrl
    http://github.com/chrisa23/Series
iconUrl
    https://raw.githubusercontent.com/chrisa23/Series/master/docs/files/img/logo.png
licenseUrl
    http://github.com/chrisa23/Series/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    
summary
    
description
    Description not set


